*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/public/background.jpg');
    background-size: cover;
}

@media only screen and (max-width: 800px) {
    body {
        background-size: 300%
    }
}